.rb-tour-overlay {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: var(--rb-tour-overlay-z-index);
	animation: rb-fade-in 0.15s ease-out;

	&__backdrop {
		fill: var(--rb-tour-overlay-background);
		pointer-events: all;

		&--transitioning {
			transition: d 350ms cubic-bezier(0.25, 0.1, 0.25, 1);
		}
	}
}
